footer{
    margin-top: 20px;
}
.footer {

    &__box {
        position: fixed;
        left: 0;
        bottom: 0px;
        background-color: white;
        width: 100%;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
        padding: 15px;
        display: flex;
    }
}
.box {

    &__cash {
        display: flex;
        align-items: flex-end;
        h1{
            margin-bottom: 10px;
        }

    }
}
.cash {
    margin: 0px 30px 0px 0px;

    &_inCash {
        display: flex;
        align-items: center;
        margin-right: 15px;
        img{
            width: 8px;
            margin-right: 5px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 100;
            font-size: 9px;
            margin-right: 5px;
        }
    }

    &_outCash {
        display: flex;
        align-items: center;
        img{
            width: 8px;
            margin-right: 5px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 100;
            font-size: 9px;
            margin-right: 5px;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        color:  slategray;
    }

    &__container {
        display: flex;
    }
}



