
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 100px 0px 100px 0px;
    border: 3px solid #da6e00;
    width: 80%; 

}
.maodal-btn{
    visibility: visible; 
    border-radius: 5px;
    background-color: #f2e3d4;
    padding: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    margin: 10px auto 0px auto;
}
.maodal-btn:hover{
    color:#da6e00;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
    background: url('/assets/img/settings/settings.svg') no-repeat;
    width: 20px;
    height: 20px;
}