@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.heading__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}

main {
  height: 600px;
}

.AdditionallyInstructions {
  width: 1200px;
  margin: 0px auto;
}
.AdditionallyInstructions__heading {
  display: flex;
  align-items: center;
  margin: 15px 0px 15px 0px;
}
.heading__box {
  display: flex;
  align-items: center;
  width: 100%;
}
.heading__title {
  margin-right: 20px;
}
.styleBTN {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

.styleBTN:hover {
  color: #da6e00;
}

.styleBTNBig {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

.styleBTNBig:hover {
  color: #da6e00;
}

.styleBTNInstall {
  width: 180px;
  background-color: #da6e00;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  font-size: 14px;
  color: #fff;
  height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}