@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

header {
  background: #da6e00;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

.header__logoAndNav {
  display: flex;
  align-items: center;
  width: 52%;
}
.header__addMashineAndnotification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
}

.logoAndNav__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__link {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  border-bottom: 3px solid white;
}
.nav__link.active {
  border-bottom: 3px solid white;
}

.addMashineAndnotification__buttonAdd {
  width: 141px;
  height: 26px;
  border-radius: 10px;
  color: white;
  background: #cc9999;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}
.addMashineAndnotification__buttonnotification {
  background: url("/assets/img/notification.svg");
  width: 18px;
  height: 18px;
}

.analyties__periodComparison, .analyties__weeklyOperation, .AverageСarStats, .analyties__marginStatistics, .operationAndСommission__profitFromCommission, .operationAndСommission__operationStatistics {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 15px;
}

.periodComparisonСarStats__nmae p, .AverageСarStats__nmaeAverageСarStats p, .Filter__title, .AverageСarStats__nmae p, .profit__value, .infoStatic__Currency h1, .boxTitle__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}

.warningInfo__infoText, .truckEmpty__infoText, .weHaveInfo__buttonCloseAll, .weHaveInfo__buttonShowAll, .periodComparisonСarStats__meaning p, .meaningBox p, .AverageСarStats__meaning p, .buttonFilter__style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.conatiner__analyties {
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 80px;
}

.analyties__title {
  margin: 20px 0px 20px 0px;
}
.analyties__title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}
.analyties__operationAndСommission {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* График Статистика Операций */
.operationAndСommission__operationStatistics {
  width: 48%;
}

.operationStatistics__boxTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.operationStatistics__boxInfoOperationAndVolume {
  display: flex;
  margin-bottom: 20px;
}
.operationStatistics__chart {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #da6e00;
}

.boxTitle__buttonFilter {
  display: flex;
  justify-content: space-between;
}

.buttonFilter__style {
  margin-left: 10px;
  background: none;
  border-bottom: 3px solid transparent;
}
.buttonFilter__style:hover {
  border-bottom: 3px solid #da6e00;
}
.buttonFilter__style.active {
  border-bottom: 3px solid #da6e00;
}

.boxInfoOperationAndVolume__boxInfoVolume {
  margin-left: 20px;
}

.boxInfoOperation__title {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}
.boxInfoOperation__name {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #da6e00;
}

.boxInfoVolume__title {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}
.boxInfoVolume__name {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #da6e00;
}

#bubbleChart {
  margin-top: 10px;
  background: #fafbff;
}

/* График Маржинальная прибыль*/
.operationAndСommission__profitFromCommission {
  position: relative;
  width: 48%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.profitFromCommission__boxTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profitFromCommission__boxInfoOperationAndVolume {
  display: flex;
  margin-bottom: 20px;
}
.profitFromCommission__chart {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #da6e00;
}

.profitFromCommission__infoStatic {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 77%;
}

.infoStatic__Currency {
  display: flex;
}
.infoStatic__Currency h1 {
  color: black;
}
.infoStatic__Currency h1:first-child {
  margin-right: 3px;
}
.infoStatic__profit {
  display: flex;
}

.profit__img {
  background: url("/assets/img/ProfitStatus/equal.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.profit__value {
  color: black;
}
.profit__img.upCommission {
  background: url("/assets/img/ProfitStatus/up.svg");
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.profit__value.upCommission {
  color: #49db88;
}
.profit__img.downCommission {
  background: url("/assets/img/ProfitStatus/down.svg");
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.profit__value.downCommission {
  color: #c72800;
}

/*  График Статистика Марженальности */
.analyties__marginStatistics {
  margin: 0px 0px 20px 0px;
}

.boxTitle__Filter {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

/* Пункт Средний Показатель Машын*/
.AverageСarStats__Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.AverageСarStats__nmae {
  text-align: center;
  display: flex;
  align-items: center;
  background: #da6e00;
  border-radius: 6px;
  height: 40px;
  color: white;
  margin-bottom: 10px;
}
.AverageСarStats__nmae p {
  color: white;
  width: 50%;
}
.AverageСarStats__meaning {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.AverageСarStats__meaning p {
  font-size: 12px;
  margin-right: 5px;
}

.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
  margin: 0px auto;
}
.Filter__title {
  margin-bottom: 10px;
}

/* Пункт Недельная Операция */
.analyties__weeklyOperation {
  margin: 20px 0px 20px 0px;
}

.boxTitle__formFilter {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

/* Пункт Топ 1 Машин*/
.AverageСarStats__Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.AverageСarStats__nmaeAverageСarStats {
  text-align: center;
  display: flex;
  align-items: center;
  background: #da6e00;
  border-radius: 6px;
  height: 40px;
  color: white;
  margin-bottom: 10px;
}
.AverageСarStats__nmaeAverageСarStats p {
  color: white;
  width: 50%;
}
.AverageСarStats__meaningAverageСarStats {
  width: 50%;
}

.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
  margin: 0px auto;
}
.Filter__title {
  margin-bottom: 10px;
}

.AverageСarStatsMeaningBox {
  display: flex;
}

.meaningBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
.meaningBox p {
  font-size: 12px;
  margin: 0px 0px 5px 0px;
}
.meaningBox p:nth-child(2n) {
  font-size: 14px;
}

/* Пункт Статистика не рабочего стостояния Машины за «Период»*/
.AverageСarStats__Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.AverageСarStats__nmae {
  text-align: center;
  display: flex;
  align-items: center;
  background: #da6e00;
  border-radius: 6px;
  height: 40px;
  color: white;
  margin-bottom: 10px;
}
.AverageСarStats__nmae p {
  color: white;
  width: 50%;
}
.AverageСarStats__meaning {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.AverageСarStats__meaning p {
  font-size: 12px;
  margin-right: 5px;
  width: 50%;
  text-align: center;
}

.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
  margin: 0px auto;
}
.Filter__title {
  margin-bottom: 10px;
}

/*График Сравнение по периодам*/
.analyties__periodComparison {
  margin: 20px 0px 20px 0px;
}

.periodComparisonСarStats {
  width: 60%;
}
.periodComparisonСarStats__nmae {
  text-align: center;
  display: flex;
  align-items: center;
  background: #da6e00;
  border-radius: 6px;
  height: 30px;
  color: white;
}
.periodComparisonСarStats__nmae p {
  color: white;
  width: 50%;
}
.periodComparisonСarStats__meaning {
  text-align: center;
  display: flex;
  align-items: center;
  height: 30px;
}
.periodComparisonСarStats__meaning p {
  font-size: 12px;
  width: 50%;
}

#periodComparisonShow {
  display: none;
}

.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
  margin: 0px auto;
}

.filterBox label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  height: 100%;
  padding: 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox label input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox label input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox label input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  height: 100%;
}

.filterBox span input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox span input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox span input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.filterBox span input {
  width: 200px;
  padding: 10px;
}

.select span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

.dropdown .dropdown-menu li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

.filterBox {
  margin: 5px;
}

.dropdown {
  margin: 5px;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}

.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

/*Styling Selectbox*/
.dropdown {
  width: 200px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #da6e00;
  height: 100%;
  text-align: left;
}

.dropdown .select {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}

.dropdown:active {
  background-color: #f8f8f8;
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropdown.active .select > i {
  transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

.filterCarBox {
  margin: 5px 0px 0px 3px;
}

.select2 {
  margin-bottom: 10px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none !important;
  box-shadow: 0 0 2px #cccccc;
}

.select2-container--default .select2-selection--multiple {
  border: none !important;
  box-shadow: 0 0 2px #cccccc;
}

.select2-search__field {
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 100;
  color: #da6e00;
  font-size: 10px !important;
  margin-top: 7px !important;
}

.select2-search__field::-moz-placeholder {
  color: #da6e00;
}

.select2-search__field:-ms-input-placeholder {
  color: #da6e00;
}

.select2-search__field::placeholder {
  color: #da6e00;
}

.select2-results__options {
  background-color: #ffff;
}

.select2-results__option.select2-results__option--selectable {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.select2-selection__choice__display {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #fff !important;
}

.select2-results__option.select2-results__message {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 100px 0px 100px 0px;
  border: 3px solid #da6e00;
  width: 80%;
}

.maodal-btn {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  margin: 10px auto 0px auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  background: url("/assets/img/settings/settings.svg") no-repeat;
  width: 20px;
  height: 20px;
}

footer {
  margin-top: 20px;
}

.footer__box {
  position: fixed;
  left: 0;
  bottom: 0px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  padding: 15px;
  display: flex;
  z-index: 1000;
}

.box__cash {
  display: flex;
  align-items: flex-end;
}
.box__cash h1 {
  margin-bottom: 10px;
}

.cash {
  margin: 0px 30px 0px 0px;
}
.cash_inCash {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.cash_inCash img {
  width: 8px;
  margin-right: 5px;
}
.cash_inCash p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  margin-right: 5px;
}
.cash_outCash {
  display: flex;
  align-items: center;
}
.cash_outCash img {
  width: 8px;
  margin-right: 5px;
}
.cash_outCash p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  margin-right: 5px;
}
.cash__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: slategray;
}
.cash__container {
  display: flex;
}

#windowNotification {
  display: none;
}

.windowNotification {
  position: absolute;
  background-color: #ffff;
  top: -11px;
  right: -15px;
  width: 400px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 15px;
  z-index: 999;
}
.windowNotification__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.windowNotification__main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonShowAll {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonShowAll:hover {
  color: #1b2559;
}
.header__imgNotification {
  width: 18px;
  height: 18px;
}
.header__buttonCloseAll {
  display: none;
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonCloseAll:hover {
  color: #1b2559;
}
.header__bTnCloseNotification {
  background: none;
}

.main__message {
  margin-top: 10px;
}

.message__NameSender {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #1b2559;
}
.message__textSender {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #ffff;
  background-color: #1b2559;
}

.shippingbox__button {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}
.shippingbox__button:hover {
  color: black;
}
.shippingbox__formShippin {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  transition: visibility 1s linear, height 1s linear, opacity 1s linear;
}
.shippingbox__formShippin.activeShow {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.formsSend__input {
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  margin: 10px 5px 0px 0px;
}
.formsSend__button {
  background: none;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  padding: 5px;
}

/**/
.weHaveInfo__cashboxEmpty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f1f6;
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
}
.weHaveInfo__warningInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f1f6;
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
}
.weHaveInfo__buttonShowAll {
  font-size: 9px;
  width: 100px;
  margin: 10px auto 0px auto;
  background: none;
}
.weHaveInfo__buttonCloseAll {
  display: none;
  font-size: 9px;
  width: 100px;
  margin: 10px auto 0px auto;
  background: none;
}

.truckEmpty__infoText {
  font-size: 9px;
  margin-left: 10px;
}
.truckEmpty__buttonLink {
  background: url("/assets/img/button/link.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 25px;
}
.truckEmpty__buttonCancel {
  background: url("/assets/img/button/cancel.svg") no-repeat;
  width: 12px;
  height: 12px;
}

.cashboxEmptyFlex {
  display: flex;
  align-items: center;
}

.warningInfo__infoText {
  font-size: 9px;
  margin-left: 10px;
}
.warningInfo__buttonLink {
  background: url("/assets/img/button/link.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 25px;
}
.warningInfo__buttonCancel {
  background: url("/assets/img/button/cancel.svg") no-repeat;
  width: 12px;
  height: 12px;
}

/**/