@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#AllInfoConfigure {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.boxInfo__title, .table__header, .heading__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}

.boxInfo__meaning, .table__body, .heading__cashOut p, .heading__cashIn p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

main {
  height: 600px;
}

/*  Start MAiN  */
/* Transaction */
.ConfigureProfilesAndAccess {
  width: 1200px;
  margin: 0px auto;
}
.ConfigureProfilesAndAccess__heading {
  display: flex;
  align-items: center;
  margin: 15px 0px 15px 0px;
}
.heading__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.heading__addEmployee {
  padding: 5px;
  height: 26px;
  border-radius: 10px;
  color: white;
  background: #da6e00;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}
.heading__title {
  margin-right: 20px;
}
.heading__search {
  width: 1030px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  background-color: #ffd9b3;
  position: relative;
}
.heading__downloadBtn {
  background-color: #ffd9b3;
  border-radius: 15px;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
.heading__downloadBtn img {
  width: 15px;
}
.heading__cashIn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.heading__cashIn img {
  width: 14px;
  height: 14px;
}
.heading__cashOut {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.heading__cashOut img {
  width: 14px;
  height: 14px;
}
.table__header {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #da6e00;
  font-size: 11px;
  color: #ffff;
  height: 40px;
  padding: 8px;
}
.table__body {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  height: 40px;
  background-color: #ffd9b3;
  padding: 8px;
  color: black;
}

#Employee {
  width: 25%;
}

#Login {
  width: 25%;
}

#TemporaryPassword {
  width: 25%;
}

#AccessLevel {
  width: 30%;
}

#SSH {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 30%;
}

#IDPhone {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 35%;
}

#BtnEmit {
  width: 10%;
}

#Btn {
  background: url("/assets/img/expand/open.svg") no-repeat;
  height: 6px;
  width: 10%;
}

#Btn .activeBtn {
  background: url("/assets/img/expand/closed.svg") no-repeat;
  width: 10%;
  height: 6px;
}

/* All INfo Car */
#AllInfoConfigure {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  flex-wrap: wrap;
  transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear;
}

#AllInfoConfigure.active2 {
  opacity: 1;
  visibility: visible;
  max-height: 380px;
}

.AllInfoConfigure__boxInfo {
  margin: 5px 20px 5px 5px;
}

.AllInfoConfigureConatinerText {
  display: flex;
  flex-direction: column;
}

.boxInfo__title {
  font-size: 11px;
  color: #708090;
  margin-bottom: 5px;
}
.boxInfo__meaning {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.boxInfo__meaning input {
  width: 100%;
  border-bottom: 1px solid #708090;
}

.AllInfoConfigureConatinerButton {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.meaning__imgNextLink {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}
.meaning__imgNextLink:hover {
  color: #da6e00;
}

.bill__title {
  margin-bottom: 5px;
}
.body__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.body__box p:first-child {
  margin-right: 5px;
}

/* End Main */
.select span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  color: #fff;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}

.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

/*Styling Selectbox*/
.dropdown {
  width: 195px;
  display: inline-block;
  background-color: #da6e00;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.dropdown .select {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
}

.dropdown.active .select > i {
  transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #da6e00;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}

.dropdown .dropdown-menu li:hover {
  background-color: #b35a02;
}

.dropdown .dropdown-menu li:active {
  background-color: #b35a02;
}

.dropdown .dropdown-menu li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

.filterBox,
.dropdown {
  margin: 10px 0px 10px 0px;
}