@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boxHeader {
  background: #da6e00;
}

.boxMainNav {
  background: #ffd9b3;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

.header__logoAndNav {
  display: flex;
  align-items: center;
  width: 52%;
}
.header__addMashineAndnotification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
}

.logoAndNav__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__link {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  border-bottom: 3px solid white;
}
.nav__link.active {
  border-bottom: 3px solid white;
}

.container__MainNav {
  width: 1200px;
  margin: 0px auto;
  height: 40px;
  display: flex;
  align-items: center;
}

.MainNav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  color: #747474;
  margin-right: 11px;
}
.MainNav__link:hover {
  color: #da6e00;
}
.MainNav__link.active {
  color: #da6e00;
}

.addMashineAndnotification__buttonAdd {
  width: 141px;
  height: 26px;
  border-radius: 10px;
  color: white;
  background: #cc9999;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}
.addMashineAndnotification__buttonnotification {
  background: url("/assets/img/notification.svg");
  width: 18px;
  height: 18px;
}

.channelSetp__channel {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.heading__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}

.warningInfo__infoText, .truckEmpty__infoText, .weHaveInfo__buttonCloseAll, .weHaveInfo__buttonShowAll, .alertMe__title, .transaction__title, .setup__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #a9a9a9;
}

.cashOutTextBottom, .cashOutTextTop, .alertMe__cassets, .alertMe__meaningEdit, .alertMe__meaning, .btnSaeveAndCancel__Cancel, .btnSaeveAndCancel__Saeve, .Sum__title, .channel__title, .channelSetp__title span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}

main {
  height: 600px;
}

.ConfigureNotifications {
  width: 1200px;
  margin: 0px auto;
}
.ConfigureNotifications__heading {
  display: flex;
  align-items: center;
  margin: 15px 0px 15px 0px;
}
.ConfigureNotifications__alert {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.heading__box {
  display: flex;
  align-items: center;
  width: 100%;
}
.heading__title {
  margin-right: 20px;
}
/**/
.setup__title {
  margin-bottom: 10px;
}
.setup__box {
  display: flex;
}
.setup__channelSetup {
  width: 100%;
  margin-right: 5px;
}
.setup__inputBox {
  display: flex;
  flex-direction: column;
}

.channelSetp__title {
  display: flex;
}
.channelSetp__title span {
  display: flex;
  align-items: center;
  background: #da6e00;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  color: #ffff;
  font-size: 11px;
}
.channelSetp__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  height: 40px;
}

.channel__title {
  color: #da6e00;
  font-size: 11px;
  margin-left: 10px;
}
.channel__input {
  display: flex;
  justify-content: space-between;
  width: 74%;
  margin-right: 67px;
}
.channel__input span {
  display: flex;
  align-items: center;
  height: 20px;
  width: 45px;
}

/**/
/**/
.alert__transaction {
  margin-right: 20px;
}
.alert__balance {
  margin-right: 153px;
  margin-top: 35px;
}

.transaction__title {
  margin: 50px 0px 10px 0px;
}
.transaction__Sum {
  display: flex;
  align-items: center;
  margin: 15px 0px 0px 0px;
}
.transaction__alertMe {
  margin: 15px 0px 0px 0px;
}
.transaction__Car {
  display: flex;
  margin-right: 10px;
}

.Sum__title {
  color: #da6e00;
  font-size: 11px;
  margin: 0px 15px 0px 0px;
}
.Sum__btnEdit button {
  background: none;
}
.Sum__btnEdit button img {
  width: 20px;
}
.Sum__btnSaeveAndCancel {
  display: flex;
}
.Sum__btnSaeveAndCancel button {
  background: none;
}

#btnBigSum {
  visibility: visible;
}

#btnMaxOperetion {
  visibility: visible;
}

#btnMinOpererion {
  visibility: visible;
}

.btnSaeveAndCancel__Saeve {
  color: #da6e00;
  border-bottom: 2px solid white;
  margin: 0px 0px 0px 5px;
}
.btnSaeveAndCancel__Saeve:hover {
  border-bottom: 2px solid #04d004;
}
.btnSaeveAndCancel__Cancel {
  color: #da6e00;
  border-bottom: 2px solid white;
  margin: 0px 0px 0px 5px;
}
.btnSaeveAndCancel__Cancel:hover {
  border-bottom: 2px solid #c70505;
}

.alertMe__title {
  font-size: 9px;
}
.alertMe__meaning {
  color: #da6e00;
  font-size: 12px;
  margin-top: 15px;
}
.alertMe__meaningEdit {
  color: #da6e00;
  font-size: 12px;
  margin-top: 15px;
}
.alertMe__cassets {
  color: #da6e00;
  font-size: 12px;
  margin-bottom: 15px;
}

.meaningEdit__input {
  width: 80px;
  text-align: end;
  color: #da6e00;
  border-bottom: 2px solid #da6e00;
}

/**/
/*CashCarOut start */
.cassetsBox {
  display: flex;
}

#CashCarOutTop {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.cashOutBorderTop {
  width: 70px;
  height: 100px;
  border: 2px solid #1b2559;
}

.cashOutBodyTop {
  position: absolute;
  width: 70px;
  height: 100px;
  background-color: #1b2559;
  top: 0px;
}

.cashOutTextTop {
  color: white;
  font-size: 15px;
  position: absolute;
  left: 25px;
}

.cashOutInfoTop {
  text-align: left;
}
.cashOutInfoTop p {
  margin: 0px 0px 5px 5px;
}
#CashCarOutBottom {
  position: relative;
  margin-right: 10px;
}

.cashOutBorderBottom {
  width: 70px;
  height: 100px;
  border: 2px solid red;
}

.cashOutBodyBottom {
  position: absolute;
  width: 70px;
  height: 0px;
  background-color: red;
  top: 0px;
}

.cashOutTextBottom {
  color: red;
  font-size: 15px;
  position: absolute;
  left: 25px;
  top: 84px;
}

/*CashCarOut End */
/*CashCarIn start */
/*CashCarIn End */
#windowNotification {
  display: none;
}

.windowNotification {
  position: absolute;
  background-color: #ffff;
  top: -11px;
  right: -15px;
  width: 400px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 15px;
  z-index: 999;
}
.windowNotification__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.windowNotification__main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonShowAll {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonShowAll:hover {
  color: #1b2559;
}
.header__imgNotification {
  width: 18px;
  height: 18px;
}
.header__buttonCloseAll {
  display: none;
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #da6e00;
}
.header__buttonCloseAll:hover {
  color: #1b2559;
}
.header__bTnCloseNotification {
  background: none;
}

.main__message {
  margin-top: 10px;
}

.message__NameSender {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #1b2559;
}
.message__textSender {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #ffff;
  background-color: #1b2559;
}

.shippingbox__button {
  visibility: visible;
  border-radius: 5px;
  background-color: #f2e3d4;
  padding: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}
.shippingbox__button:hover {
  color: black;
}
.shippingbox__formShippin {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  transition: visibility 1s linear, height 1s linear, opacity 1s linear;
}
.shippingbox__formShippin.activeShow {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.formsSend__input {
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  margin: 10px 5px 0px 0px;
}
.formsSend__button {
  background: none;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  padding: 5px;
}

/**/
.weHaveInfo__cashboxEmpty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f1f6;
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
}
.weHaveInfo__warningInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f1f6;
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
}
.weHaveInfo__buttonShowAll {
  font-size: 9px;
  width: 100px;
  margin: 10px auto 0px auto;
  background: none;
}
.weHaveInfo__buttonCloseAll {
  display: none;
  font-size: 9px;
  width: 100px;
  margin: 10px auto 0px auto;
  background: none;
}

.truckEmpty__infoText {
  font-size: 9px;
  margin-left: 10px;
}
.truckEmpty__buttonLink {
  background: url("/assets/img/button/link.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 25px;
}
.truckEmpty__buttonCancel {
  background: url("/assets/img/button/cancel.svg") no-repeat;
  width: 12px;
  height: 12px;
}

.cashboxEmptyFlex {
  display: flex;
  align-items: center;
}

.warningInfo__infoText {
  font-size: 9px;
  margin-left: 10px;
}
.warningInfo__buttonLink {
  background: url("/assets/img/button/link.svg") no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 25px;
}
.warningInfo__buttonCancel {
  background: url("/assets/img/button/cancel.svg") no-repeat;
  width: 12px;
  height: 12px;
}

#showAllInfoWarning {
  display: none;
}

#showAllInfoNotification {
  display: none;
}

/**/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a2a0a0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #da6e00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #da6e00;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Filter__ButtonSearch, .Filter__Car {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 11px;
  color: silver;
}

.Filter {
  display: flex;
  flex-direction: column;
}
.Filter__Car p {
  margin-bottom: 5px;
}
.Filter__ButtonSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  margin: 10px auto 0px auto;
  color: #da6e00;
  background-color: #fff;
  border-radius: 2px;
}
.Filter__ButtonSearch img {
  margin-right: 10px;
}
.Filter__ButtonSearch:hover {
  box-shadow: 0 0 8px #cccccc;
}

.select2 {
  margin-bottom: 10px !important;
}

.select2-container--default .select2-selection--multiple {
  background-color: #da6e00 !important;
}

.select2-search__field {
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 100;
  font-size: 12px !important;
  margin-top: 7px !important;
}

.select2-search__field::-moz-placeholder {
  color: #fff;
}

.select2-search__field:-ms-input-placeholder {
  color: #fff;
}

.select2-search__field::placeholder {
  color: #fff;
}

.select2-results__options {
  background-color: #da6e00;
}

.select2-results__option.select2-results__option--selectable {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #fff;
}

.select2-selection__choice__display {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
}

.select2-results__option.select2-results__message {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
}