footer {
  margin-top: 20px;
}

.footer__box {
  position: fixed;
  left: 0;
  bottom: 0px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  padding: 15px;
  display: flex;
  z-index: 1000;
}

.box__cash {
  display: flex;
  align-items: flex-end;
}
.box__cash h1 {
  margin-bottom: 10px;
}

.cash {
  margin: 0px 30px 0px 0px;
}
.cash_inCash {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.cash_inCash img {
  width: 8px;
  margin-right: 5px;
}
.cash_inCash p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  margin-right: 5px;
}
.cash_outCash {
  display: flex;
  align-items: center;
}
.cash_outCash img {
  width: 8px;
  margin-right: 5px;
}
.cash_outCash p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  margin-right: 5px;
}
.cash__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: slategray;
}
.cash__container {
  display: flex;
}