@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

header {
  background: #da6e00;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

.header__logoAndNav {
  display: flex;
  align-items: center;
  width: 52%;
}
.header__addMashineAndnotification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
}

.logoAndNav__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__link {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  border-bottom: 3px solid white;
}
.nav__link.active {
  border-bottom: 3px solid white;
}

.addMashineAndnotification__buttonAdd {
  width: 141px;
  height: 26px;
  border-radius: 10px;
  color: white;
  background: #cc9999;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
}
.addMashineAndnotification__buttonnotification {
  background: url("/assets/img/notification.svg");
  width: 18px;
  height: 18px;
}

#AllInfoCar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.boxInfo__title, .table__header, .heading__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #da6e00;
}

.search__inputText::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.search__inputText:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

.meaning__imgBurgerOptionIcon, .meaning__imgNextLink a, .boxInfo__meaning, .table__body, .search__inputText::placeholder, .heading__cashOut p, .heading__cashIn p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #da6e00;
}

/*  Start MAiN  */
/* Transaction */
.transactions {
  width: 1200px;
  margin: 0px auto;
}
.transactions__heading {
  display: flex;
  align-items: center;
  margin: 15px 0px 15px 0px;
}
.heading__box {
  display: flex;
  align-items: center;
}
.heading__title {
  margin-right: 20px;
}
.heading__search {
  width: 1030px;
  padding: 5px;
  border-radius: 15px;
  background-color: #ffd9b3;
}
.heading__search button {
  background: url("/assets/img/search/search.svg") no-repeat;
  width: 18px;
  height: 18px;
}
.heading__downloadBtn {
  background-color: #ffd9b3;
  border-radius: 15px;
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
.heading__downloadBtn img {
  width: 15px;
}
.heading__cashIn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.heading__cashIn img {
  width: 14px;
  height: 14px;
}
.heading__cashOut {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.heading__cashOut img {
  width: 14px;
  height: 14px;
}
.search {
  display: flex;
  align-items: center;
}
.search__inputText {
  background-color: #ffd9b3;
  margin-left: 5px;
}
.transactions__table span {
  width: 50%;
}

.table__header {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #da6e00;
  font-size: 11px;
  color: #ffff;
  height: 40px;
  padding: 8px;
}
.table__body {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  height: 40px;
  background-color: #ffd9b3;
  padding: 8px;
  color: black;
}

#cashInfo {
  width: 10%;
}

#nameCar {
  width: 25%;
}

#operation {
  width: 25%;
}

#address {
  width: 25%;
}

#exchangeRate {
  width: 30%;
}

#transactionAmount {
  width: 50%;
}

#exchangeAmount {
  width: 70%;
}

#Day {
  width: 25%;
}

#Time {
  width: 25%;
}

#BtnEmit {
  width: 10%;
}

#Btn {
  background: url("/assets/img/expand/open.svg") no-repeat;
  height: 6px;
  width: 10%;
}

#Btn .activeBtn {
  background: url("/assets/img/expand/closed.svg") no-repeat;
  width: 10%;
  height: 6px;
}

/* All INfo Car */
#AllInfoCar {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  flex-wrap: wrap;
  transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear;
}

#AllInfoCar.active2 {
  opacity: 1;
  visibility: visible;
  max-height: 250px;
}

.AllInfoCar__boxInfo {
  margin: 5px;
}

.AllInfoCarConatinerText {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxInfo__title {
  font-size: 11px;
  color: #708090;
  margin-bottom: 5px;
}
.boxInfo__meaning {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.boxInfo__meaning h1 {
  margin-right: 5px;
}

.AllInfoCarConatinerButton {
  display: flex;
  align-items: flex-end;
}

.meaning__box {
  display: flex;
}
.meaning__bill {
  margin-right: 10px;
}
.meaning__imgNextLink {
  background: none;
}
.meaning__imgNextLink a {
  display: flex;
  width: 180px;
  padding: 5px;
  border-radius: 6px;
  background-color: #ffd9b3;
  font-size: 12px;
}
.meaning__imgNextLink a img {
  width: 18px;
  margin-right: 10px;
}
.meaning__imgBurgerOptionIcon {
  display: flex;
  align-items: center;
  background-color: #ffd9b3;
  padding: 5px;
  border-radius: 6px;
  font-size: 10px;
}
.meaning__imgBurgerOptionIcon img {
  width: 18px;
}

.bill__title {
  margin-bottom: 5px;
}
.body__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.body__box p:first-child {
  margin-right: 5px;
}

/* End Main */