.boxHeader{
    background: #da6e00; 
}
.boxMaintenanceNav{
    background: #ffd9b3;
}


.container {
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0px auto;
    }
}
.header{

    &__logoAndNav {
        display: flex;
        align-items: center;
        width: 52%;
    }

    &__addMashineAndnotification {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17%;
    }

}
.logoAndNav {

    &__imgNav {
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    }
}
.nav {

    &__link {
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        padding-bottom: 3px;
        border-bottom: 3px solid transparent;


    }
    &__link:hover {
        border-bottom: 3px solid white;
    }
    &__link.active {
        border-bottom: 3px solid white;
    }
}
.container {

    &__MaintenanceNav {
        width: 1200px;
        margin: 0px auto;
        height: 40px;
        display:flex;
        align-items: center;
    }
}
.MaintenanceNav {

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        color: rgb(116, 116, 116);
        margin-right: 11px;
    }
    &__link:hover {
       color: #da6e00;
    }
    &__link.active {
        color: #da6e00;
    }
}

.addMashineAndnotification {
    
    &__buttonAdd {
        width: 141px;
        height: 26px;
        border-radius: 10px;
        color: white;
        background: #cc9999;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
       
    }

    &__buttonnotification {
        background: url('/assets/img/notification.svg');
        width: 18px;
        height: 18px;

    }
}
