%TitleFilter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    color: silver
}
%TextFilter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #fff;
}

  
  .Filter {
    display: flex;
    flex-direction: column;

   
    &__Car{
        @extend %TitleFilter;
        p{
            margin-bottom: 5px;
        }
    }
    &__ButtonSearch{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 35px;
        margin: 10px auto 0px auto;
        @extend %TitleFilter;
        color: #da6e00;
        background-color:#fff;
        border-radius: 2px;
        img{
            margin-right: 10px;
        }
    }
    &__ButtonSearch:hover{
        box-shadow: 0 0 8px #cccccc;
    }
}  



.select span{
  @extend %TextFilter
}
.dropdown .dropdown-menu  li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
}
.filterBox,
.dropdown{
    margin: 10px 0px 10px 0px;
}
/* Анимация открытия Филтра Машины*/
  .dropdownСar {
    width: 180px;
    display: inline-block;
    background-color: #da6e00;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #fff;
    height: 100%;
    text-align: left
  }
  .dropdownСar .selectCar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px
    
  }
  .dropdownСar .selectCar input{
    @extend %TextFilter;
      width: 85px;
      margin-left: 5px;
  }
  .dropdownСar .selectCar > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdownСar:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  
  .dropdownСar.active:hover,
  .dropdownСar.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 2px 2px 0 0;
    //   background-color: #f8f8f8
  }
  .dropdownСar.active .selectCar > i {
      transform: rotate(-90deg)
  }
  .dropdownСar .dropdown-menuCar {
      position: absolute;
      background-color: #da6e00;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 2px 2px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .dropdownСar .dropdown-menuCar li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      label{
        display:flex;
        align-items:center;
        input{
            margin-left: 10px;
        }
      }
  } 
  .dropdownСar .dropdown-menuCar {
      padding: 0;
      list-style: none
  }
  .dropdownСar .dropdown-menuCar li:hover {
      background-color: #b35a02
  }
  .dropdownСar .dropdown-menuCar li:active {
      background-color: #b35a02
  }
  .selectCar input{
      background-color:#da6e00;
  }

  
