%Boreder{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    
}

%TitleParagraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700; 
    font-size: 14px;
    color:  #1b2559
}
%TextSubparagraphs{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    color:#a9a9a9;
}
%TextNormal{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
}

.InfoСar {
 
		&__InfoCarLocations {
            margin-right: 10px;
            width: 36%;
		}

		&__InfoCarAll {
            // background-color: #f6f6f6;
            width:64%;
		}
}
.Updatebox{
    display: flex;
}

.UpdateAndClosed {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    &__buttonUpdate {
        background: none;
        img{
            width:18px
        }
    }
    &__value{
        margin-left: 20px;
    }
    &__buttonClosed {
        background:none;
        img{
            width:18px
        }
    }
}

.value {

    &__title {
       @extend %TextSubparagraphs;
       margin: 0px 5px 3px 0px;
    }

    &__meaning {
        @extend %TextNormal;
        margin-right: 10px;
    }
}


.wrepperInfoСar{
    display: flex;
}
.Box{
    display: flex; 
    &__imgCar {
        img{
            width: 260px;
            height: 350px;
        }
    }
}
.BoxNameCarAndLoctions {
}
.Box{
		&__NameCar {
           
		}

		&__locations {
          
		}
}
.NameCar {

    &__title {
        @extend %TitleParagraph;
        margin: 5px 0px 0px 5px;
    }
}
.locations {

		&__title {
            @extend %TextSubparagraphs;
            margin: 5px 0px 5px 5px;
		}

		&__meaning {
           @extend %TextNormal;
           margin: 0px 0px 5px 5px;
           
		}
     
}
.containerLoc {
    display: flex;
    align-items: flex-end;
}

.Edit {

    &__title {
        @extend %TextNormal;
        font-size: 14px;
        color: #a9a9a9;
        margin-top: 20px;
    }
    &__Geolocation{
        margin-right: 5px;
    }
}
.Box{
    &__Edit{
        display: flex;
    }
}
.Geolocation {

    &__button {
        img{
            width: 20px;
            margin-right: 5px;                
        }
    }
   

    &__LongAndWidth {
        opacity: 0;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
        width: 100%;
        transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear ;
    }
}
.activeShow{
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 10px;
}   

.LongAndWidth {
    &__box{
        display: flex;
        flex-direction: column;
    }
    &__long {
        @extend %TextNormal;
        margin-bottom: 10px;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
            width:180px;
        }
    }

    &__width {
        @extend %TextNormal;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
            width:180px;
        }
    }
    &__button{
        margin: 10px auto;
    }
}


.Box {

    &__status {
    }
}
.status {

    &__title {
        @extend %TextSubparagraphs;
        font-size: 14px;
        margin: 10px 0px 5px 0px;
    }

    &__Allinfo {
    }
}
.Allinfo {

    &__sttusInfoNormal {
        @extend %TextNormal;
        color: #49db88;
        background: #d1f5d9;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px 5px 0px;
        width: fit-content;
    }
    &__sttusInfoWarning {
        @extend %TextNormal;
        color: #da6e00;
        background: #ffdcda;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px 5px 0px;
        width: fit-content;
    }

    &__pingInfo {
        display: flex;
    }
}
.pingInfo {

    &__ping {
        margin: 5px;   
    }

    &__pingLast {
        margin: 5px; 
    }
}
.ping {

    &__title {
        @extend %TextSubparagraphs;
        margin-bottom: 5px;
    }

    &__meaning {
        @extend %TextNormal;
    }
}


/* */
    
.NameAndAddress {

    &__button {
        img{
            width: 18px;
            margin-right: 8px;
        }
    }

    &__box {
        display: flex;
        flex-direction:column;
        text-align: center;
        opacity: 0;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
        width: 100%;
        transition: opacity 1s linear, visibility 1s linear, height 1s linear, padding 1s linear ;
    }
}
.activeShowNameAndAddress{
    visibility: visible;
    opacity: 1;
    height: 260px;
    padding: 10px;
}
.box {

    &__nameCar {
        display: flex;
        flex-direction:column;
    }

    &__editAdrres {
        display: flex;
        flex-direction:column;
    }
}
.nameCar {

    &__input {
        @extend %TextNormal;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
            width:180px;
        }
    }

    &__button {
    }
}
.editAdrres {

    &__input {
        @extend %TextNormal;
        margin-top: 5px;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
            width:180px;
        }
    }
    &__select{
        margin-top: 10px;
    }
    &__button {
    }
}

/* */

.Box__button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Marginality {

  
    &__button {
        img{
            width: 17px;
            margin-right: 5px;
        }
    }
    &__button.noAccess{
       visibility: hidden;
       height:0px;
       padding: 0px;
       margin: 0px;
    }
}
.LogMachine {

    &__button {
        img{
            width: 20px;
            margin-right: 5px;
        }
    }
}

.APICISBtn {

    &__button {
         img{
            width: 20px;
            margin-right: 5px;
        }
    }
}
.SpecificationBtn {

    &__button {
         img{
            width: 20px;
            margin-right: 5px;
        }
    }
}
.Forwarding {

    &__button {
         img{
            width: 20px;
            margin-right: 5px;
        }
    }
}
.EntryExitWorkv{

}
.RebootBillAcceptor{
    &__button {
        img{
           width: 20px;
           margin-right: 5px;
       }
   }
}
.RebootDispenser{
    &__button {
        img{
           width: 20px;
           margin-right: 5px;
       }
   }
}



.InfoCarAll {

    &__APICISInput {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        visibility: visible;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear ;
        label{
            margin-bottom: 10px;
            @extend %TextSubparagraphs;
            
        }
        input{
            width: 100%;
            height:20px;
            margin: 5px 0px 10px 0px;
            border-radius: 6px;
            
        }
    }
    &__control{
    }
    &__specification{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        height: auto;
        height: 0px;
        overflow: hidden;
        visibility: visible;
        opacity: 0;
        transition: opacity 1s linear, visibility 1s linear, height 1s linear, padding 1s linear ;
    }
}
.activeShowSpecification{
    visibility: visible;
    opacity: 1;
    height: 115px;
    padding: 10px;
}  
.activeShow{
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 10px;
}   
.BtnAPICISInput{
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.25);
    @extend %TextNormal;
    margin: 0px auto;
}

.Box {
        &__controlTitle{
            p{
                padding: 5px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 100;
                font-size: 12px;
                color:#a9a9a9;
            }
        }

		&__control {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px;
		}

		&__controlInfo {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
		}
}
.Forwarding {
    // margin: 10px;
		&__button {
          
		}
}
.controlInfo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    &__title {
        @extend %TextSubparagraphs;
        width: 100%;
        
    }

    &__meaning {
        @extend %TextNormal;
        margin: 5px 0px 5px 0px;
    }
}
