%Boreder{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    
}

%TitleParagraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700; 
    font-size: 14px;
    color:  #1b2559
}
%TextSubparagraphs{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    color:#a9a9a9;
}
%TextNormal{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
}

.InfoСar {
    width: 1200px;
    margin: 0px auto;
		&__InfoCarLocations {
            margin-right: 10px;
            width: 36%;
		}

		&__InfoCarAll {
            background-color: #f6f6f6;
            width:64%;
		}
}
.UpdateAndClosed {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    &__buttonUpdate {
        background: none;
        img{
            width:18px
        }
    }

    &__buttonClosed {
        background:none;
        img{
            width:18px
        }
    }
}
.wrepperInfoСar{
    display: flex;
}
.Box{
    display: flex; 
    &__imgCar {
        img{
            width: 260px;
            height: 350px;
        }
    }
}
.BoxNameCarAndLoctions {
}
.Box{
		&__NameCar {
           
		}

		&__locations {
          
		}
}
.NameCar {

		&__title {
            @extend %TitleParagraph;
            margin: 5px 0px 0px 5px;
		}

		&__meaning {
            @extend %TitleParagraph;
            margin: 5px 0px 5px 5px;
		}
}
.locations {

		&__title {
            @extend %TextSubparagraphs;
            margin: 5px 0px 5px 5px;
		}

		&__meaning {
           @extend %TextNormal;
           margin: 0px 0px 5px 5px;
           
		}
}
.containerLoc {
    display: flex;
    align-items: flex-end;
}

.Geolocation {

    &__button {
        border-radius: 5px;
        background-color: slategray;
        height: 20px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items:center;
        @extend %TextNormal;
        margin: 20px 0px 5px 0px;
    }
    &__button:hover{
        color: white;
    }

    &__LongAndWidth {
        opacity: 0;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
        width: 48%;
        
        transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear ;
    }
}
.activeShow{
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 10px;
}   

.LongAndWidth {
    &__box{
        display: flex;
        flex-direction: column;
    }
    &__long {
        @extend %TextNormal;
        margin-bottom: 10px;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
        }
    }

    &__width {
        @extend %TextNormal;
        input{
            border: 1px solid black;
            border-radius: 5px;
            height: 25px;
            margin-top: 5px;
        }
    }
    &__button{
        padding: 5px;
        border-radius: 5px;
        background-color:rgba(0, 0, 0, 0.25);
        @extend %TextNormal;
        margin: 10px auto;
    }
}

.Marginality {

    &__button {
    }
    &__button.noAccess{
       visibility: hidden;
       height:0px;
       padding: 0px;
       margin: 0px;
    }
}
.LogMachine {

    &__button {
    }
}

.InfoCarAll {

    &__APICISInput {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        visibility: visible;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear ;
        label{
            margin-bottom: 10px;
            @extend %TextSubparagraphs;
            color: black;
            
        }
        input{
            width: 100%;
            height:20px;
            margin: 5px 0px 10px 0px;
            border-radius: 6px;
            
        }
    }
    &__control{
    }
    &__specification{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        visibility: visible;
        opacity: 0;
        transition: opacity 1s linear, visibility 1s linear, max-height 1s linear, padding 1s linear ;
    }
}
.activeShowSpecification{
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 10px;
}  
.activeShow{
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    padding: 10px;
}   
.BtnAPICISInput{
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.25);
    @extend %TextNormal;
    margin: 0px auto;
}

.Box {
  
		&_control {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px;
		}

		&__controlInfo {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
		}
}
.Forwarding {
    // margin: 10px;
		&__button {
		}
}
.controlInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    &__title {
        @extend %TextSubparagraphs;
        color:white;
        background-color:#1b2559;
        margin: 5px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    &__meaning {
        @extend %TextNormal;
        margin: 5px;
    }
}
