header{
    background: #da6e00; 
}
.boxHeader{
    background: #da6e00; 
}
.boxMainNav{
    background: #ffd9b3;
}


.container {
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0px auto;
    }
}
.header{

    &__logoAndNav {
        display: flex;
        align-items: center;
        width: 52%;
    }

    &__addMashineAndnotification {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17%;
    }

}
.logoAndNav {

    &__imgNav {
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    }
}
.nav {

    &__link {
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
        padding-bottom: 3px;
        border-bottom: 3px solid transparent;


    }
    &__link:hover {
        border-bottom: 3px solid white;
    }
    &__link.active {
        border-bottom: 3px solid white;
    }
}
.container {

    &__MainNav {
        width: 1200px;
        margin: 0px auto;
        height: 40px;
        display:flex;
        align-items: center;
    }
}


.MainNav {

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        color: rgb(116, 116, 116);
        margin-right: 11px;
    }
    &__link:hover {
       color: #da6e00;
    }
    &__link.active {
        color: #da6e00;
    }
}

.addMashineAndnotification {
    
    &__buttonAdd {
        width: 141px;
        height: 26px;
        border-radius: 10px;
        color: white;
        background: #cc9999;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
       
    }

    &__buttonnotification {
        background: url('/assets/img/notification.svg');
        width: 18px;
        height: 18px;

    }
}


/* Оповещения*/
#windowNotification{
    display:none;
}
.windowNotification {
    position: absolute;
    background-color: #ffff;
    top: -11px;
    right: -15px;
    width: 400px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 15px;
    z-index: 999;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 10px;
    }

    &__main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__footer {
    }
}

.header {

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
        color:  #da6e00;
    }
    &__buttonShowAll{
        background:none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
        color:  #da6e00;
    }
    &__buttonShowAll:hover{
        color: #1b2559 ;
    }
    &__imgNotification {
        width: 18px;
        height: 18px;
    }
    &__buttonCloseAll{
        display:none;
        background:none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
        color:  #da6e00;
    }
    &__buttonCloseAll:hover{
        color: #1b2559 ;
    }

    &__bTnCloseNotification{
        background:none;
    }
}
.main {

    &__message {
        margin-top: 10px;
    }
}
.message {
    
    &__NameSender {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 12px;
        color:  #1b2559;
        
    }

    &__textSender {
        display: flex;
        align-items:center;
        padding: 10px;
        margin-top: 5px;
        border-radius:20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        color:#ffff;
        background-color: #1b2559;
    }
}
.footer {

    &__form {
    }
}
.form {

    &__sends {
    }
}


.windowNotification {

    &__shippingbox {
    }
}
.shippingbox {

    &__button {
        visibility: visible; 
        border-radius: 5px;
        background-color: #f2e3d4;
        padding: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 5px 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        color: #da6e00;
    }
    &__button:hover{
        color: black;
    }

    &__formShippin {
        opacity: 0;
        visibility: hidden;
        height: 0px;
        transition: visibility 1s linear, height 1s linear, opacity 1s linear ;
    }
    &__formShippin.activeShow{
        opacity: 1;
        visibility: visible;
        height: 100%;
       
    }
}
.formShippin {

    &__formsSend {
    }
}
.formsSend {

    &__input {
        padding: 5px;
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
        margin: 10px 5px 0px 0px;
    }

    &__button {
        background:none;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
        border-radius: 100%;
        padding: 5px;
    }
}



/**/

/* Стили  оповещания сообщений */
.windowNotification {

    &__weHaveInfo {
    }
}
.weHaveInfo {

    &__cashboxEmpty {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(240 241 246);
        margin-top: 5px;
        padding: 5px;
        border-radius: 6px;
    }

    &__warningInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(240 241 246);
        margin-top: 5px;
        padding: 5px;
        border-radius: 6px;
    }
}
.cashboxEmptyFlex {
display: flex;
align-items: center;
}
.cashboxEmpty {

    &__img {
    }
}
.truckEmpty {

    &__infoText {
        font-family: 'Montserrat'; 
        font-style: normal;
        font-weight: 100;
        color:  #da6e00;
        font-size: 9px;
        margin-left: 10px;
    }

    &__buttonLink {
        background: url('/assets/img/button/link.svg') no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 25px;
    }

    &__buttonCancel {
        background: url('/assets/img/button/cancel.svg') no-repeat;
        width: 12px;
        height: 12px;
    }
}
.warningInfo {

    &__img {
    }

    &__infoText {
        font-family: 'Montserrat'; 
        font-style: normal;
        font-weight: 100;
        color:  #da6e00;
        font-size: 9px;
        margin-left: 10px;
    }

    &__buttonLink {
        background: url('/assets/img/button/link.svg') no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 25px;
    }

    &__buttonCancel {
        background: url('/assets/img/button/cancel.svg') no-repeat;
        width: 12px;
        height: 12px;
    }
}
