%TitleFilter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    color: silver
}
%TextFilter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #fff;
}

  
  .Filter {
    display: flex;
    flex-direction: column;

   
    &__Car{
        @extend %TitleFilter;
        p{
            margin-bottom: 5px;
        }
    }
    &__ButtonSearch{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 35px;
        margin: 10px auto 0px auto;
        @extend %TitleFilter;
        color: #da6e00;
        background-color:#fff;
        border-radius: 2px;
        img{
            margin-right: 10px;
        }
    }
    &__ButtonSearch:hover{
        box-shadow: 0 0 8px #cccccc;
    }
}  

.select2{
    margin-bottom: 10px !important;
}

  .select2-container--default .select2-selection--multiple{
      background-color: #da6e00 !important;
  }
  .select2-search__field{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 100;
    font-size: 12px !important;
    margin-top: 7px !important;
  }
  .select2-search__field::placeholder{
      color: #fff;
  }

  .select2-results__options{
    background-color: #da6e00;
  }
  .select2-results__option.select2-results__option--selectable{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    color: #fff;
  }
  .select2-selection__choice__display{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
  }
  .select2-results__option.select2-results__message{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
  }

